# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java Script

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Matplotlib
3. ggplot

**Objectives:**
* C++
* Python
* Java

| Data Science Tools |
| ---------- |
| Jupyter |
| Rstudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author 
Guillermo Cabello